.full-width-container {
  position: relative;
  width: 100%;
  height: 75vh;
  background: linear-gradient(to top, #333641 0%, #333641 100%);

  img {
    object-fit: cover;
    opacity: 0.4;
  }

  .content {
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%);

    @media screen and (max-width: 768px) {
      top: 25%;
    }
  }
}
