.product-card-container {
  overflow: hidden;

  &:hover {
    background-color: rgb(236, 236, 236);

    -webkit-box-shadow: 15px 15px 10px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 15px 15px 10px 0px rgba(224, 224, 224, 1);
    box-shadow: 15px 15px 10px 0px rgba(224, 224, 224, 1);
    scale: 1.03;
    transition: 0.25s;
  }

  .sale-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.25rem 1rem;
    width: fit-content;
    color: white;
    border-radius: 1rem;
  }
}
