.beautify-space-img {
  height: 90% !important;
}

.two {
  top: 130px;
  left: 100px;
  z-index: 10;

  &:hover {
    z-index: 11;
    scale: 1.25;
    transition: 0.5s;
  }
}

.three {
  top: 200px;
  left: 300px;
  transform: rotate(45deg);

  &:hover {
    z-index: 11;
    transform: rotate(0deg);
    scale: 1.25;
    transition: 0.5s;
  }
}

@media screen and (min-width: 768px) {
  .latest-arrivals-container,
  .beautify-space-container {
    min-height: 100vh;
    border-bottom: 1px solid #e2e8f0;
  }

  .latest-arrivals-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .beautify-space-img {
    height: 275px !important;
    width: 275px !important;
    position: absolute;
  }

  .one {
    top: 200px;
    left: -100px;
    transform: rotate(-45deg);

    &:hover {
      z-index: 11;
      transform: rotate(0deg);
      scale: 1.25;
      transition: 0.5s;
    }
  }
}
